.App {
  text-align: center;
  /* background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Ffall-season&psig=AOvVaw3Rk_yBghzcocfndsjTrEpx&ust=1638608044847000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjoyt_ByPQCFQAAAAAdAAAAABAD'); */
}

.parent {
  justify-content: center;
  display: flex;
}
.child {
  text-align: center;
  margin-top: 100px;
  border: 3px solid white;
  width: 100%;
  display: flex;
}
.call {
  text-align: center;
}
.text {
  color: white;
}
